body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* arial varsa arial yoksa helvetica yoksa sans-serif kullan demek oluyor */

form {
    padding: 40px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;  
}
 /* bu değerler ile formun konumunu düzenledik */

.form-row {
    margin-bottom: 20px;
}
/* burada alanların birbirlerine olan uzaklıklarını düzenledik */

.form-row > label{
    display: block;
    margin-bottom: 6px;
}
/* form-rowun hemen altındaki labellere uygulanır. alan isimleri ve kutular arası uzaklığı düzenledik. label in display değeri inline old. için değişiklik olmadı. değişiklik olması için display 
block yaptık.*/

input[type= "text"],
input[type= "tel"],
input[type= "email"],
select,
button,
textarea {
    width: 100%;
    border-radius: 5px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    padding-right: 15px;
    font-size: inherit;
    font-family: inherit;
    background-color: #fff;
}
  /* -border-radius HTML elemanlarına yuvarlak kenar özelliği verme işine yarıyor. 
    -kenarlıklar 1px oldu.
    -rgba(0, 0, 0, 0.2); siyah rengi 0.2 değerinde opaklıkla kenarlara verdik
    -font-size: inherit; yapmamızın nedeni bir üst kapsayıcının font size ı neyse sen de onu kullan demek böylece placeholder yazısı diğerleriyle aynı büyüklükte oldu*/

input[type="text"]::placeholder
input[type="tel"]::placeholder
input[type="email"]::placeholder
textarea ::placeholder {
    color:rgb(175, 175, 175);
 }

input[type= "text"]:focus,
input[type= "tel"]:focus,
input[type= "email"]:focus,
textarea:focus {
    outline: 0;
   border-color: rgb(68, 176,255);
}

textarea {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 42px;
    max-height: 200px;
    resize: vertical;
}
/*resize: vertical; -> boyutlandırma dikey olarak yapılır.max 200px çıkabilir.  */
 
.radio-container  label{
    display: inline-block
}
/*  renkleri kapsayan radio konteynırımızın altındaki labellar inline-block olsun */

.radio-container  label + label {
    display: inline-block;
    margin-left: 20px;
}
/* renkleri kapsayan radio konteynırımızın altındaki labellerden ilki hariç diğer hepsine margin left değerini uygula */

button {
    display: inline-block;
    width: auto;
    border: 0;
    background-color: #eee;
} 
    
button[type="submit"] {
    margin-left: 10px;
    color: white;
    background-color: rgb(68, 176,255);
}










